doctype html
html(lang="en")
	head
	link(rel="stylesheet", href="css/style.min.css")
	body 
		include pug/header
		main.page 
			h1 О нас 
			img(src="@img/logo.png", alt="img")
		include pug/footer 

		script(src="js/app.min.js") 